.nav {
  display: flex;
  justify-content: space-around;
  height: 60px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(73, 71, 71);
}
.nav > div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.active {
  border-bottom: 2px solid rgb(10, 137, 216);
  color: rgb(10, 137, 216);
}
