.cont{
  margin:20px 50px;
  padding: 15px;
  font-size: 70px;
   
}
.butStW{
  margin-top: -30px;
  margin-left: 50px;
  display: flex;
  gap: 10px;
  padding: 10px;
}
.butStW>button {
  
  border: 0.5px solid grey;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  color: grey;
  padding: 10px 25px;
  font-weight: 500;
}
.butStW>button:hover {
  border: 0.5px solid rgb(10, 137, 216);
  background-color: rgb(10, 137, 216);
  color: #fff;
}

